header{
	display: flex;
	background-color: lightskyblue;
	justify-content: space-between;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
body{
 	margin: 0px;
 	background-image: url(../img/pattern.jpg);
 }
ul{
	list-style-type: none;
}
li{
	display: inline;
	margin-right: 15px;
}
a{
	text-decoration: none;
}
section{
	background-color: whitesmoke;
	margin: 80px 200px 20px;
	padding: 10px 60px 10px;
}
h1{
	text-align: center;
}
article{
	border-bottom: 2px solid black;
	margin-top: 10px;
}
footer{
	background-color: lightgray;
	padding: 1px;
}
h5{
	text-align: center;
}